# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
ft_printf
libft/.vscode/c_cpp_properties.json
libft/.vscode/settings.json
pft_2019/
.gitignore
42TESTERS-PRINTF
ft_printf_test
42TESTERS-PRINTF
.gitignore
print_digits.c
42TESTERS-PRINTF
.DS_Store
